snippet desktop "Create a desktop entry"
[Desktop Entry]
Name=${1:Name}
GenericName=${2:Generic Name}
Comment=${3:Comment}
Categories=${4:Type:Eg->Utility;Education; }
Exec=${5:Exec command}
Icon=${6:application-default-icon}
Terminal=${7:false}
Type=${8:Type: eg Application}
Keywords=${9:words;separated}
endsnippet

