snippet tag "Html tag"
<${1:tag_here}>$0</$1>
endsnippet

snippet tag_def "Html tag that has a def"
<${1:tag_here} ${2:key}=${3:value}>$0</$1>
endsnippet

snippet tag_p "Html key value pair to be put into tag"
${1:key}=${2:value}
endsnippet

